.zoom 
{
    transition: transform .2s;
    width: 121.97px;
    height: 38px;
}
.zoom:hover 
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.zoom1 
{
    transition: transform .2s;
    width: 340.28px;
    height: 72px;
} 
.zoom1:hover 
{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.zoom2
{
    transition: transform .2s;
    width: 149px;
    height: 38px;
} 
.zoom2:hover 
{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.flip
{
    transition: transform .2s;
}
.flip:hover
{
    transform: rotateY(360deg);
}